@tailwind base;
@tailwind components;
@tailwind utilities;

/* This ensures our 3D canvas takes up the full screen height */
html,
body {
  height: 100%;
  margin: 0;
  background-color: #0f172a; /* A nice dark slate background */
}
